/* GOOGLE FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');




/* GLOBAL VARIABLES */
:root {
    /* Fonts */
    --36px: 2.25rem;
    --30px: 1.875rem;
    --24px: 1.5rem;
    --18px: 1.125rem;
    --12px: 0.75rem;

    /* Spacing */
    --100px: 6.25rem;
    --50px: 3.125rem;
    --25px: 1.5625rem;
    --12_5px: 0.78125rem;
    --6_25px: 0.390625rem;
    --10px: 0.625rem;
    --3px: 0.1875rem;
    --1px: 0.0625rem;
}

/* GLOBAL COLOURS */
:root {
    --text_color: #7d7d7d;
    --background_color: #ffffff;
    --primary_color: #000000;
    --secondary_color: #bfbfbf;
    --accent_color: #4d4d4d;
}





/* MAIN */
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background_color);
    font-family: Inter, Arial, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden;
    background-image: radial-gradient(circle, #bfbfbf96 1px, #00000000 1px);
    background-size: 2rem 2rem;
}

/* Text */

h1 {
    font-size: var(--36px);
    margin: 0;
    font-weight: bold;
}

h2 {
    font-size: var(--30px);
    margin-top: 0;
    margin-bottom: var(--12_5px);
}

h3 {
    font-size: var(--24px);
    margin: 0;
    margin-bottom: var(--25px);
}

h4 {
    font-size:  var(--18px);
    margin: 0;
    color: var(--primary_color);
}

p {
    color: var(--text_color);
    font-size: var(--18px);
}

a {
    font-size: var(--18px);
}

a:hover {
    cursor: pointer;
}

/* Sections */

.navigation_container, .hero_container, .skills_container, .projects_container, .experience_container, .about_container, .footer_container {
    width: 1000px;
    margin: auto;
}

.skills_section, .projects_section, .experience_section, .about_section, .footer_section {
    padding: var(--100px) 0rem;
}

/* Buttons */

.primary_button {
    padding: var(--12_5px) var(--25px);
    background-color: var(--primary_color);
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: var(--3px);
    transition: 100ms;
}

.primary_button:hover {
    background-color: var(--accent_color);
}

.secondary_button {
    padding: var(--12_5px) var(--25px);
    color: var(--primary_color);
    text-decoration: none;
    border-radius: var(--3px);
    transition: 100ms;
    outline:var(--1px) solid var(--primary_color);
    outline-offset: -0.063rem;
    background-color: var(--background_color);
    transition: 100ms;
    position: relative;
}

.secondary_button:hover {
    outline-color: var(--accent_color);
    color: var(--accent_color);
}

.projects_section #inline_icon:hover svg {
    fill: var(--accent_color);
}

.tertiary_button {
    padding: var(--12_5px) 0rem;
    color: var(--primary_color);
    text-decoration: var(--primary_color);
    transition: 100ms;
    position: relative;
    transition: all 0.3s ease;
}

.tertiary_button.active::before {
    animation: tertiary_animation 300ms cubic-bezier(0, 0, 0.2, 1) forwards;
}

.tertiary_button.in-active::before {
    animation: tertiary_animation_reverse 300ms cubic-bezier(0, 0, 0.2, 1) reverse;
}

.tertiary_button::before {
    content: "";
    height: var(--1px);
    background-color: var(--accent_color);
    position: absolute;
    width: 0%;
    bottom: 0;
    left: 0;
}

@keyframes tertiary_animation {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes tertiary_animation_reverse {
    100% {
        width: 100%;
    }
    0% {
        width: 0%;
    }
}

/* Icon buttons */

#inline_icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--6_25px);
    fill: inherit;
    width: fit-content;
}

#inline_icon p {
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: inherit;
}

#inline_icon svg {
    height: var(--25px);
    width: var(--25px);
}




/* NAVIGATION SECTION */

/* Navigation bar */

.navigation_section {
    width: 100%;
    background-color: #ffffff88;
    backdrop-filter: blur(16px);
    z-index: 6;
    position: fixed;
}

/* Web navigation */

.navigation_container {
    display: flex;
    padding: var(--10px) 0rem;
}

.left_nav, .right_nav {
    align-content: center;
}

.left_nav {
    width: 25%;
}

.right_nav {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 3.906rem;
}

#home {
    color: var(--primary_color);
    font-weight: bold;
}

/* Mobile navigation */

.navigation_menu {
    position: fixed;
    content: "";
    height: 100vh;
    width: 100vw;
    z-index: 5;
    overflow: hidden;
    background-color: var(--background_color);
    transform: translateX(100%);
}

.navigation_menu.active {
    animation: menu_animation_in 150ms cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

.navigation_menu.in-active {
    animation: menu_animation_out 150ms cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

.mobile_nav_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: var(--25px);
    padding: var(--25px);
    height: 100vh;
}

@keyframes menu_animation_in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes menu_animation_out {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(100%);
    }
}

/* Mobile navigation icon */

.menu_icon {
    width: var(--25px);
    height: var(--25px);
}

.menu_button_nav {
    background: none;
    text-decoration: none;
    border: none;
    width: 25%;
    text-align: right;
    display: none;
}

.menu_button_nav:hover {
    cursor: pointer;
}

#close_icon {
    display: none;
}




/* HERO SECTION */
.hero_section {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero_content {
    width: 100%;
    display: flex;
    height: fit-content;
    column-gap: var(--50px);
    justify-content: center;
}

.left_hero, .right_hero {
    align-content: center;
}

.right_hero p {
    margin-top: var(--6_25px);
    margin-bottom: var(--25px);
}

.left_hero {
    margin: 0;
}

.avatar_image {
    height: 18.75rem;
    width: 18.75rem;
    object-fit: cover;
    border-radius: 100%;
    pointer-events: none;
}

/* Call to actions */

.action_banner {
    display: flex;
    gap: var(--12_5px);
    align-items: center;
    margin-bottom: 25px;
}

/* Social media icons */

.social_banner {
    display: flex;
    column-gap: var(--12_5px);
}

.social_link {
    height: var(--25px);
    width: var(--25px);
    position: relative;
    object-position: 0%;
}

.social_link:hover::before {
    animation: social_animation 300ms cubic-bezier(0, 0, 0.2, 1) forwards;
    fill: white;
}

.social_link::before {
    content: "";
    position: absolute;
    height: var(--25px);
    width: var(--25px);
    background-color: var(--primary_color);
    border-radius: 100%;
    transform: scale(0);
    z-index: -1;
    fill: white;
}

@keyframes social_animation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1.5);
    }
}

.social_icon {
    height: var(--25px);
    width: var(--25px);
    align-items: center;
    object-fit: cover;
    transition: 100ms;
}

.social_icon:hover {
    fill: white;
}

/* Hero on-load animations */

h1::before {
    position: absolute;
    content: "";
    background-color: var(--primary_color);
    height: 2.75rem;
    z-index: 2;
    border-radius: var(--3px);
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

@keyframes h1_animation {
    from {
        width: 19.625rem;
    }
    to {
        width: 0rem;
    }
}

.hero_p::before {
    position: absolute;
    content: "";
    background-color: var(--text_color);
    height: 2.625rem;
    z-index: 2;
    border-radius: var(--3px);
}

@keyframes p_animation {
    from {
        width: 37.625rem;
    }
    to {
        width: 0rem;
    }
}





/* SKILLS SECTION */

.skills_section {
    background-color: var(--primary_color);
    color: white;
    position: relative;
    box-sizing: border-box;
    z-index: 0;
    margin-top: 4.688rem;
}

.skills_section:before {
    content: '';
    background: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: -1;
    transform: skewY(-3deg);
    transform-origin: top left;
}

.skill_banner {
    display: flex;
    column-gap: var(--6_25px);
    row-gap: var(--6_25px);
    flex-wrap: wrap;
}

.skill_image {
    height: var(--50px);
    width: var(--50px);
    object-fit: contain;
}

.skill_content {
    display: flex;
    column-gap: var(--25px);
    width: 100%;
}

.skill_left, .skill_right {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: var(--25px);
}

.skill_box {
    color: var(--primary_color);
    background-color: var(--background_color);
    border-radius: var(--3px);
    padding: var(--25px);
    transition: 100ms;
}

.skill_box h4 {
    margin-top: 0rem;
    margin-bottom: var(--12_5px);
}

.heading_description {
    margin: 0rem;
    margin-bottom: var(--50px);
}

#heading_description_bg {
    color: var(--text_color);
}




/* PROJECTS SECTION */
.projects_section {
    width: 100%;
}

.projects_highlight {
    width: 100%;
    display: flex;
    column-gap: var(--25px);
    margin-bottom: var(--50px);
}

/* Project card */

.project_link {
    color: var(--primary_color);
    text-decoration: none;
    transition: 100ms;
    width: 50%;
}

.project_link:hover {
    text-decoration: underline;
}

.highlight_thumbnail {
    border-radius: var(--3px);
    overflow: hidden;
    height: 18.75rem;
    margin: 0 0 var(--12_5px) 0;
    pointer-events: none;
}

.project_link p {
    margin-top: var(--6_25px);
    margin-bottom: 0;
}

.project_link .tool_box {
    margin-top: var(--12_5px);
}

.project_image_highlight {
    width: 100%;
    height: 18.75rem;
    object-fit: cover;
    border-radius: var(--3px);
    transition: 0.10s;
}

.projects_banner {
    display: flex;
    column-gap: var(--25px);
    margin-bottom: var(--50px);
}

.projects_box {
    width: 25%;
}

.projects_box p {
    margin-top: var(--6_25px);
}

.project_image {
    width: 100%;
    height: 9.375rem;
    object-fit: cover;
    border-radius: var(--3px);
    transition: 100ms;
}

#category_text {
    margin-top: var(--12_5px);
    margin-bottom: var(--6_25px);
    font-size: var(--12px);
    color: var(--accent_color);
}

#highlight_category_text {
    margin-top: 0rem;
    margin-bottom: var(--6_25px);
    font-size: var(--12px);
    color: var(--accent_color);
}

.project_thumbnail_boundaries {
    overflow: hidden;
    border-radius: var(--3px);
    height: 9.375rem;
    width: 100%;
    margin: 0;
    pointer-events: none;
}

/* Skill icons */

.tool_box {
    display: flex;
    column-gap: var(--6_25px);
    width: 100%;
}

.tool_image {
    height: var(--25px);
    width: var(--25px);
    object-fit: contain;
}




/* EXPERIENCE SECTION */
.experience_section {
    background-color: var(--primary_color);
    color:white;
    position: relative;
    margin-top: 4.688rem;
}

.experience_section::before {
    content: '';
    background: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: -1;
    transform: skewY(3deg);
    transform-origin: top right;
}

/* Experience cards */

.experience_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: var(--25px);
}

.experience_box {
    background-color: var(--background_color);
    border-radius: var(--3px);
    color: var(--primary_color);
    display: flex;
    padding: var(--25px);
    column-gap: var(--12_5px);
    transition: 100ms;
    align-items: center;
}

.logo_experience {
    height: var(--50px);
    width: var(--50px);
    object-fit: contain;
}

.logo_box {
    width: fit-content;
    pointer-events: none;
}

.experience_box_left {
    width:75%;
}

#title_text {
    margin-bottom: 6.25px;
}

.experience_box_right {
    width: 25%;
    text-align: right;
}

.experience_box_left p {
    margin: 0rem;
}

.experience_box_right p {
    margin: 0rem;
}

.experience_box_details {
    width: 100%;
    display: flex;
    column-gap: var(--12_5px);
}

/* Company link */

.experience_link {
    margin: 0rem;
    color: var(--text_color);
    text-decoration: none;
}

.experience_link:hover {
    text-decoration: underline;
    color: var(--accent_color);
}



/* ABOUT */
.about_content {
    width: 100%;
    display: flex;
    column-gap: var(--25px);
    margin-bottom: var(--50px);
}

/* Summary */

.about_left {
    width: 50%;
    overflow: hidden;
    margin: 0;
}

.about_right {
    width: 50%;
    align-content: center;
}

.about_right p {
    margin: 0;
    margin-top: var(--6_25px);
}

.about_image {
    object-fit:cover;
    width: 100%;
    border-radius: var(--3px);
    height: 18.75rem;
    pointer-events: none;
}

/* Contact */

.contact_image {
    object-fit: cover;
    width: 100%;
    border-radius: var(--3px);
    height: 18.75rem;
    pointer-events: none;
}

.contact_banner {
    display: flex;
    column-gap: var(--25px);
}

.left_contact {
    width: 50%;
    overflow: hidden;
    margin: 0;
}

.right_contact {
    width: 50%;
    display: flex;
    column-gap: var(--25px);
    align-items: center;
}

.contact_box {
    width: 50%;
}

.contact_box p {
    margin: 0;
    margin-top: var(--6_25px);
    margin-bottom: var(--12_5px);
}

.social_contact {
    height: var(--25px);
    margin-bottom: var(--12_5px);
}

.social_contact_icon {
    height: var(--25px);
    width: var(--25px);
    object-fit: contain;
    transition: 100ms;
}





/* FOOTER SECTION */
.footer_section {
    background-color: var(--primary_color);
    position: relative;
    margin-top: 4.688rem;
    color: var(--background_color);
}

.footer_section:before {
    content: '';
    background: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: skewY(-3deg);
    transform-origin: top left;
}

.footer_container {
    display: flex;
    column-gap: var(--25px);
}

.left_foot {
    width: 50%;
}

.middle_foot {
    width: 25%;
}

.right_foot {
    width: 25%;
}

#social_footer {
    fill: var(--background_color);
}

.heading_description_footer {
    color: var(--text_color);
    margin: 0;
    margin-top: var(--6_25px);
    margin-bottom: var(--12_5px);
}

/* Footer navigation */

.foot_nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.foot_list {
    margin: 0;
    margin-bottom: var(--6_25px);
}

.foot_link {
    color: var(--text_color);
    text-decoration: none;
}

.foot_link:hover {
    text-decoration: underline;
    color: var(--accent_color);
}

/* Back to top */

.logo_link {
    color: var(--background_color);
    text-decoration: none;
    font-size: var(--18px);
    font-weight: bold;
}

.logo_link:hover {
    text-decoration: underline;
}



/* WEB RESPONSIVE */

@media screen and (max-width: 1050px) {
    #cursor {
        display: none;
        visibility: none;
    }

    /* Main */
    html {
        overflow-x: hidden;
    }
    .main_container {
        width: 100%;
    }
    .navigation_container, .hero_container, .skills_container, .projects_container, .experience_container, .about_container, .footer_container {
        width: 100%;
    }
    .heading_description {
        margin-bottom: var(--25px);
    }
    h1 {
        font-size: var(--30px);
    }


    /* Navigation */
    .menu_button_nav {
        display: block;
    }
    .navigation_section {
        padding: var(--25px);
        width: -webkit-fill-available;
        position: fixed;
    }
    .navigation_container {
        padding: 0rem;
        justify-content: space-between;
    }
    .left_nav {
        width: 75%;
    }
    .right_nav {
        display: none;
    }


    /* Hero */
    .hero_section {
        height: fit-content;
    }
    .hero_content {
        margin-top: 5rem;
        flex-direction: column;
        text-align: center;
        row-gap: var(--25px);
    }
    .avatar_image {
        height: 12.5rem;
        width: 12.5rem;
    }
    .hero_container {
        padding: var(--25px);
    }
    .action_banner, .social_banner {
        align-items: center;
        justify-content: center;
    }
    .hero_p {
        width: 50%;
        margin: auto;
        margin-top: var(--6_25px);
        margin-bottom: var(--25px);
    }


    /* Skill */
    .skills_section {
        padding: var(--50px) var(--25px);
    }
    .skill_content {
        flex-direction: column;
        row-gap: var(--25px);
    }
    .skill_left, .skill_right {
        width: 100%;
    }


    /* Projects */
    .projects_section {
        width: unset;
        padding: var(--50px) var(--25px);
    }
    .projects_highlight {
        row-gap: var(--25px);
    }
    
    .project_image, .project_thumbnail_boundaries {
        height: 9.375rem;
    }


    /* Experience */
    .experience_section {
        padding: var(--50px) var(--25px);
    }
    .experience_box_details {
        flex-direction: column;
        row-gap: var(--6_25px);
    }
    .experience_box_right {
        text-align: left;
        width: 100%;
    }
    .experience_box_right p {
        color: grey;
    }
    .experience_box_left {
        width: 100%;
    }
    .experience_box {
        align-items: flex-start;
    }
    

    /* About */
    .about_section {
        padding: var(--50px) var(--25px);
    }
    .about_left {
        border-radius: var(--3px);
    }
    .about_left, .about_right {
        width: 100%;
    }


    /* Contact */
    .contact_banner {
        flex-direction: column;
    }
    .left_contact {
        display: none;
    }
    .right_contact {
        width: 100%;
    }


    /* Footer */
    .footer_section {
        padding: var(--50px) var(--25px);
    }
    .footer_container {
        flex-wrap: wrap;
        gap: var(--25px);
    }
    .left_foot {
        width: 100%;
    }
    .middle_foot {
        width: 50%;
    }
}




@media screen and (max-width: 700px) {
    .hero_p {
        width: unset;
    }
    .project_link {
        width: 100%;
    }
    .project_image, .project_thumbnail_boundaries {
        height: 18.75rem;
    }
    .projects_banner {
        flex-direction: column;
        row-gap: var(--25px);
        margin-bottom: var(--25px);
    }
    .projects_box {
        width: 100%;
    }
    .about_content {
        flex-direction: column;
        row-gap: var(--12_5px);
        margin-bottom: var(--25px);
    }
}




@media screen and (max-width: 500px) {
    .mobile_nav_list a {
        padding: var(--12_5px) 0rem;
        width: 100%;
        text-align: center;
    }
    #inline_icon {
        width: unset;
        padding: var(--12_5px) 0rem;
        justify-content: center;
    }
    .action_banner {
        flex-direction: column;
        row-gap: var(--12_5px);
    }
    .action_banner a {
        width: 100%;
        padding: var(--12_5px) 0rem;
    }
    .projects_highlight {
        flex-direction: column;
        row-gap: var(--25px);
    }
    .right_contact {
        flex-direction: column;
        row-gap: var(--25px);
    }
    .contact_box {
        width: 100%;
    }
}



@media screen and (min-width: 1050px) {
    h1::before {
        animation: h1_animation 500ms cubic-bezier(0.39, 0.58, 0.57, 1) forwards;
        width: 19.625rem;
    }
    .hero_p::before {
        width: 37.625rem;
        animation: p_animation 1000ms cubic-bezier(0.39, 0.58, 0.57, 1) forwards;
        animation-delay: 500ms;
    }
    .navigation_menu {
        display: none;
    }
}