/*Main*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    font-size: 36px;
    margin: 0;
}

h2 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 12.5px;
}

h3 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 25px;
}

h4 {
    font-size: 18px;
    margin: 0;
}

p {
    color: #575757;
    font-size: 18px;
}

.navigation_container, .hero_container, .skills_container, .projects_container, .experience_container, .about_container {
    width: 1000px;
    margin: auto;
}

.skills_section, .projects_section, .experience_section, .about_section {
    padding: 50px 0px;
}

.primary_button {
    padding: 12.5px 25px;
    background-color: black;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    font-size: 18px;
    transition: 100ms;
}

.primary_button:hover {
    background-color: grey;
}

.secondary_button {
    padding: 12.5px 25px;
    color: black;
    text-decoration: none;
    border: 1px solid;
    border-radius: 3px;
    font-size: 18px;
    transition: 100ms;
}

.tertiary_button {
    padding: 12.5px 25px;
    color: black;
    text-decoration: black;
    font-size: 18px;
    transition: 100ms;
}

.tertiary_button:hover {
    color: gray;
    fill: grey;
    text-decoration: underline;
}




/*Navigation bar*/
.navigation_section {
    width: 100%;
    background-color: #ffffff88;
    backdrop-filter: blur(16px);
    z-index: 2;
    position: fixed;
}

.navigation_container {
    display: flex;
    padding: 10px 0px;
}

.left_nav, .right_nav {
    align-content: center;
}

.left_nav {
    width: 25%;
}

.right_nav {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 12.5px;
}

.logo_button {
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    transition: 100ms;
}

.logo_button:hover {
    color: grey;
    text-decoration: underline;
}




/*Hero section*/
.hero_section {
    width: 100%;
    padding: 266px 0px 200px 0px;
}

.hero_container {
    height: fit-content;
}

.hero_content {
    width: 100%;
    display: flex;
    height: fit-content;
    column-gap: 25px;
}

.left_hero, .right_hero {
    align-content: center;
}

.right_hero p {
    margin-top: 12.5px;
    margin-bottom: 25px;
}

.left_hero {
    text-align: center;
}

.avatar_image {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 100%;
}

.action_banner {
    display: flex;
    column-gap: 12.5px;
    align-items: center;
}




/*Skills section*/
.skills_section {
    width: 100%;
    background-color: black;
    color: white;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    z-index: 0;
}

.skills_section:before {
    content: '';
    background: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: skewY(-3deg);
    transform-origin: top left;
}

.skill_banner {
    display: flex;
    column-gap: 6.25px;
}

.skill_image {
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.skill_content {
    display: flex;
    column-gap: 25px;
    width: 100%;
}

.skill_left, .skill_right {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.skill_box {
    color: black;
    background-color: white;
    border-radius: 3px;
    padding: 25px;
    transition: 100ms;
}

.skill_box h4 {
    margin-top: 0px;
    margin-bottom: 12.5px;
}

.heading_description {
    margin: 0;
    margin-bottom: 25px;
}

#heading_description_bg {
    color: grey;
}




/*Projects section*/
.projects_section {
    width: 100%;
}

.projects_highlight {
    width: 100%;
    display: flex;
    column-gap: 25px;
    margin-bottom: 25px;
}

.project_link {
    font-size: 18px;
    color: black;
    text-decoration: none;
    transition: 100ms;
}

.project_link:hover {
    text-decoration: underline;
}

.project_left {
    width: 50%;
    border-radius: 3px;
    overflow: hidden;
    height: 300px;
}

.project_right {
    width: 50%;
    align-content: center;
}

.project_right p {
    margin-top: 6.25px;
    margin-bottom: 0;
}

.project_right .tool_box {
    margin-top: 12.5px;
}

.project_image_highlight {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 3px;
    transition: 0.10s;
}

.projects_banner {
    display: flex;
    column-gap: 25px;
}

.projects_box {
    width: 25%;
}

.projects_box p {
    margin-top: 6.25px;
    margin-bottom: 12.5px;
}

.project_image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 3px;
    transition: 100ms;
}

.tool_box {
    display: flex;
    column-gap: 6.25px;
    width: 100%;
}

.tool_image {
    height: 25px;
    width: 25px;
    object-fit: contain;
}

#category_text {
    margin-top: 12.5px;
    margin-bottom: 6.25px;
    font-size: 12px;
}

#highlight_category_text {
    margin-top: 0;
    margin-bottom: 6.25px;
    font-size: 12px;
}

.project_thumbnail_boundaries {
    overflow: hidden;
    border-radius: 3px;
    height: 150px;
    width: 100%;
}




/*Experience section*/
.experience_section {
    width: 100%;
    background-color: black;
    color:white;
    position: relative;
    margin-top: 75px;
}

.experience_section::before {
    content: '';
    background: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: skewY(3deg);
    transform-origin: top right;
}

.experience_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 25px;
}

.experience_box {
    background-color: white;
    border-radius: 3px;
    color: black;
    display: flex;
    padding: 25px;
    column-gap: 12.5px;
    transition: 100ms;
    align-items: center;
}

.logo_experience {
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.logo_box {
    width: fit-content;
}

.experience_box_left {
    width:75%;
}

#title_text {
    margin-bottom: 6.25px;
}

.experience_box_right {
    width: 25%;
    text-align: right;
}

.experience_box_left p {
    margin: 0;
}

.experience_box_right p {
    margin: 0;
}

.experience_link {
    margin: 0;
    font-size: 18px;
    color: #575757;
    text-decoration: none;
}

.experience_link:hover {
    text-decoration: underline;
}

.about_right p {
    margin: 0;
    margin-top: 6.25px;
}




/*About section*/
.about_content {
    width: 100%;
    display: flex;
    column-gap: 25px;
}

.about_left {
    width: 50%;
}

.about_right {
    width: 50%;
    align-content: center;
}

.about_image {
    object-fit:cover;
    width: 100%;
    height: 300px;
    border-radius: 3px;
}